@using remake.Models
@model IEnumerable<Product>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/share/_LayoutPage2.cshtml";
}

<h2>Danh sách sản phẩm</h2>

    <table class="table">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(model => model.ID)</th>
                <th>@Html.DisplayNameFor(model => model.ProductName)</th>
                <th>@Html.DisplayNameFor(model => model.Amount)</th>
                <th>@Html.DisplayNameFor(model => model.Price)</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.ID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ProductName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Amount)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Price)
                    </td>
                    <td>
                        @Html.ActionLink("Chỉnh sửa", "Edit", new { id = item.ID }) |

                        @Html.ActionLink("Xóa", "Delete", new { id = item.ID })
                    </td>
                </tr>
            }
            <tr>
                <td>
                    @Html.ActionLink("Thêm", "Create")
                </td>
            </tr>
        </tbody>
        
    </table>

